<!-- empty cart -->
<div class="container border border-primary m-5 p-5">
    <div class="row text-center">
        <div class="col">
             <img src="https://www.clickbazar.com/Images/empty-cart.gif" width="100px" alt="">
             <h3 class="mt-3">Your cart is empty</h3>
             <button routerLink="/" class="btn btn-primary mt-2">Shop now</button>
        </div>
    </div>
</div>



<!-- cart with content -->
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table border border-dark m-5">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100</td>
                        <td>Men's T Shirt</td>
                        <td><img src="https://4.imimg.com/data4/AA/HC/MY-26596027/men-s-fancy-t-shirt-500x500.jpg" alt="" width="100px"></td>
                        <td>Lorem ipsum dolor sit adipisicing elit. Autem exercitationem suscipit at minima nihil voluptates molestias</td>
                        <td>500</td>
                        <td><i class="fa fa-trash text-danger"></i></td>
                    </tr>
                </tbody>
            </table>

            <div style="float: right;" class="mb-3">
                <button class="btn btn-danger">Empty cart</button>&nbsp;
                <button class="btn btn-warning">View more</button>&nbsp;
                <button class="btn btn-success">Check out</button>&nbsp;
                <b>Grand Total:500</b>
            </div>
        </div>
    </div>
</div>