@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Oswald&family=Prosto+One&family=Ubuntu:ital@1&display=swap');

body{
    font-family:'Oswald', sans-serif;
}

.card-img-top{
    width:200px;
    height: 300px;
    transition: 0.4s;  

}

.card-img-top:hover{
    /* scale: 1.25; */
    transform: scale(1.25);
    transition: 0.4s;  
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
